body{
	width: 80%;
	height: 700px;
	margin: 0 auto;
	font-size: 40px;
}
#h33{
	position: relative;/*相对原来的位置移动*/
	left: 200px;
	top: 100px;
	color: red;
}
#sp3{
	position: relative;
	top: -100px;
	color: red;
}