body{
	width: 80%;
	height: 700px;
	
	magin: 0 auto;
}
p{
	font-size: 40px;
	color: purple;
	/*display: inline-block;/*变为行内元素*/
	border: 3px solid orange;
}
span{
	font-size: 40px;
	color: brown;
	display: block;/*变为块元素*/

}
/*#p1{
	width: 200px;
	height: 300px;
	border: 1px solid green;
}*/
/*#p2*/
#sp1{
	width: 200px;
	height: 300px;
	border: 1px solid green;
}
#img1{
	width: 300px;
	height: 400px;
	border: 2px solid red;
}